<% if !current_user.nil? %>
<% provide(:title, current_user.name) %>
<% end %>
  <!-- Display list of unanswered questions or 
  questions that have unsatisfactory answers -->

  <h2 class="text-center"> Problems that need answers! </h2>
  <% if @feed_items.any? %>
  <div class="text-center"> <%= link_to 'Something missing from the list?', new_problem_path, class:"btn btn-danger btn-large" %> </div> <br />

  <div class="jumbotron">

    <% unless user_signed_in? %>
      <div class="text-center">
        <%= link_to "Join now!", new_user_registration_path,
                  class: "btn btn-large btn-success" %>
      </div>
    <% end %>
    <%= render partial: 'shared/feed_list' %>
  </div>
  
  <% else %>
    <h3> The world is ok, there are no problems!</h3>
  <div class="text-center"> <%= link_to 'Something missing from the list?', new_problem_path, class:"btn btn-danger btn-large" %> </div>

  <% end %>
