<div class="text-center">

  <p>
    <h1>The problem is...</h1>
    <h1><strong><%= problem.name %></strong></h1>
  </p>
</div>
<p class="text-center lead">
  <%= problem.description %>
</p>

<div>
  <strong>Added By:</strong>
  <%= problem.user.name %>
</div>
