<h1>New solution</h1>
<div class="well">
  <%= render partial: 'shared/show_problem',locals: { :problem => Problem.find(params[:problem_id]) } %>
</div>

<%= render 'form' %>

<%= link_to 'Back', solutions_path %>
